$black: #262223;
$white: #FFFFFF;
$crimson: #990033;
$crimson-dar: #c50143;
$crimson-dar2: #88002d;
$fuchsia: #ec0264;
$white-grey: #FAFAFA;
$grey-lig: #DEDEDE;
$grey-lig2: #C5C5C5;
$grey-lig3: #A2A2A2;
$grey-med: #333333;
$grey-med2: #3a3537;
$correct: #9dd8bb;
$correct-med: #47b47d;
$correct-dar: #255c41;
$incorrect: #f7d0d0;
$incorrect-med: #dd2e2e;
$incorrect-dar: #b71c1c;
$teal: #45a29f;
$teal-dar: #49837E;
$orange-med: #b71c1c;
$purple: #72518a;


/* Core button */
button.h5p-core-button { 
  background: $crimson;
  &:link, &:visited {
    background: $crimson;
  }
  &:hover {
    background: $crimson-dar;
  }
  &:focus {
    background: $crimson-dar2;
  }
  &:active {
    background: $crimson-dar;
  }
}
/* Core cancel button */
button.h5p-core-cancel-button { 
color: $crimson;
  &:link, &:visited {
    color: $crimson;
  }
  &:focus {
    color: $crimson-dar2;
  }
}
/* Joubel Simple Rounded button */
/* Arrow button */
.joubel-simple-rounded-button {
  background-color: $crimson;
  &:hover {
    background-color: $crimson-dar;
  }
  &:focus {
    background-color: $crimson-dar2;
  }
  &:active {
    background-color: $crimson;
    box-shadow: none;
  }
}
/* Confirmation pop-ups */
button.h5p-confirmation-dialog-exit { 
  &:link, &:visited {
    color: $white;
  }
}
button.h5p-confirmation-dialog-exit {
  &:hover {
    color: $grey-lig;
  }
  &:focus {
    color: $grey-lig2;
  }
}
.h5p-confirmation-dialog-header {
  color: $crimson;
}
/* Tip container speech bubble icon */
.joubel-icon-tip-normal,
.joubel-icon-comment-normal,
.joubel-icon-comment-normal:hover,
.joubel-icon-comment-normal:active {
  .h5p-icon-speech-bubble:before {
    color: $crimson;
  }
  &:hover {
    color: $crimson;
    .h5p-icon-speech-bubble:before {
      color: $crimson-dar;
    }
  }
  &:active {
    .h5p-icon-speech-bubble:before {
      color: $crimson-dar;
    }
  }
}
/* Button question mark tip that appears in Show Solution popup */
 .h5p-joubelui-score-bar {
  .joubel-tip-container {
    color: $crimson;
    &:hover, &:active {
      color: $crimson-dar;
    }
    &:focus {
      color: $crimson-dar2;
    }
  }
}
/* Numeric Score */
.h5p-joubelui-score-numeric {
  color: $grey-med;
}
/* Carousel - Progress dots */
.progress-dot.current {
  background: $crimson-dar;
}
.progress-dot.answered {
  background: $crimson;
}
/* Override all inputs, textarea */
input, textarea {
  border: 1px solid $grey-lig3 !important;
  border-color: $grey-lig3 !important;
  &:focus {
    outline: none !important;
    border: 1px solid $grey-lig3 !important;
    border-color: $grey-lig3 !important;
    box-shadow: 0 0 0 0.15rem rgb(0 0 0 / 15%) !important;
  }
}
.h5p-content {
  /*  ---------------------- GLOBAL */
  /* Font */
  color: $grey-med;
  /* Buttons */
  .h5peditor .ui-dialog .h5p-joubelui-button, 
  .h5peditor .h5p-joubelui-button, 
  .h5p-joubelui-button {
    background: $crimson;
  }
  .h5p-joubelui-button {
    &:hover {
      background: $crimson-dar;
    }
    &:focus {
      background: $crimson-dar2;
    }
    &:active {
      background: $crimson-dar;
      -webkit-box-shadow: inset 0 4px 0 $crimson-dar;
      -moz-box-shadow: inset 0 4px 0 $crimson-dar;
      box-shadow: inset 0 4px 0 $crimson-dar;
    }
  }
  /* Feedback text under button */
  .h5p-question-feedback {
    color: $crimson;
  }
  /* Feedback text and results (Question set) */
  .questionset-results {
    .result-header, .result-text, .feedback-text, .feedback-section  {
      color: $black;
    }
  }
  /* Progress bar */
  .h5p-joubelui-progressbar {
    background-color: $grey-lig3;
  }
  .h5p-joubelui-progressbar-background {
    background-color: $black;
  }
  /* ---------------------- Item: Arithmetic Quiz */
  /* Intro screen background colour */ 
  .h5p-baq-intro-page {
    background: $purple; 
  }
  .h5p-baq-countdown-bg {
    //background: $teal;
    background: $crimson;
  }
  /* Start button */
  .h5p-baq-countdown-text {
    background: $orange-med;
    //background: $crimson-dar2;
  }
  .h5p-baq * {
    text-shadow: none;
  }
  .h5p-baq {
    background: $purple;
  }
  .h5p-baq-alternatives > .h5p-joubelui-button {
    background: $teal;
  }
  .h5p-baq-alternatives > .h5p-joubelui-button:active, 
  .h5p-baq-alternatives > .h5p-joubelui-button:hover {
    background: $orange-med;
    //background: $crimson-dar;
  }
  /* Start and Retry button */
  .h5p-joubelui-button.mq-control-button {
    //background: $teal;
    background: $crimson-dar2;
    border-bottom: 0.2em solid rgba($black,0.5); 
    transition: none;
    &:hover, &:active {
      //background: $teal-dar;
      background: $crimson-dar;
      box-shadow: none;
    }
  }
  /* Correct answer */
  .h5p-baq-alternatives {
     .h5p-joubelui-button.reveal-correct {
      background: $teal-dar;
     }
  }
  /* Score */
  .h5p-baq-score-widget-number {
    color: $purple;
  }
  /* ---------------------- Item: Accordion */
  .h5p-accordion {
    .h5p-panel-title {
      color: $grey-med;
      &:hover {
        color: $crimson;
      }
      &:focus {
        color: $crimson-dar2;
      }
      &:active {
        color: $crimson;
      }
    }
  }
  /* ---------------------- Item: Audio Recorder */
  /* Notification background */
  .h5p-audio-recorder-view [role="status"] {
    background-color: rgba($grey-lig,0.5);
  }
  /* Timer */
  .h5p-audio-recorder-view {
    .title {
      color: $grey-med;
    }
  }
  .audio-recorder-timer {
    color: $grey-med;
  }
  /* ---------------------- Item: Branching Scenario */
  /* Screens */
  .h5p-branching-scenario .h5p-start-screen, .h5p-end-screen {
    background: radial-gradient(at top,$grey-lig3,$grey-med2);
  }
  /* Buttons */
  .h5p-branching-scenario .h5p-start-button, .h5p-end-button, .h5p-nav-button {
    border-color: $white;
    color: $white;
    &:hover {
      border-color: $white;
      color: $crimson;
      background: $white;
    }
  }
  /* Screen background colour */
  .h5p-branching-scenario {
    .h5p-current-screen {
      background: $grey-med2;
    }
    /* Popup Proceed button */
    .h5p-branching-question {
      button {
        background-color: $crimson;
        color: $white;
        border: none;
        &:hover, &:active {
          background-color: $crimson-dar;
        }
        &:focus {
          background-color: $crimson-dar2;
        }
      }
    }
    /* Fullscreen button */
    button.h5p-branching-full-screen {
      border: 0.083em solid $white;
      &:hover {
        color: $black;
        background-color: $white;
      }
    }
  }
  /* ---------------------- Item: Chart */
  // N/A
  /* ---------------------- Item: Collage */
  // N/A
  /* ---------------------- Item: Column */
  //NA
  /* ---------------------- Item: Course Presentation */
  /* Slide Navigation */
  .h5p-course-presentation {
    .h5p-progressbar {
      .h5p-progressbar-part{
        &:hover, &:active {
          background: rgba($black,0.2);
        }
      }
      .h5p-progressbar-part-show {
        //background: $crimson;
        background: $black;
        &:hover, &:active {
          //background: $crimson-dar;
          background: $grey-med2;
        }
        .h5p-progressbar-part-selected {
          &:hover, &:active {
            //background: $crimson-dar;
            background: $grey-med2;
          }
        }
      }
    }
    .h5p-slide-button.h5p-current {
      a {
        background-image: -webkit-linear-gradient(top, $fuchsia, $crimson-dar);
        background-image: -moz-linear-gradient(top, $fuchsia, $crimson-dar);
        background-image: linear-gradient(180deg, $fuchsia, $crimson-dar);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ec0264",endColorstr="#c50143",GradientType=0);
      }
    }
    /* Button */
    .h5p-element-button {
      background: $crimson;
      &:hover {
        background: $crimson-dar;
      }
    }
    /* Scrollbar */
    .h5p-element .h5p-element-outer .h5p-element-inner::-webkit-scrollbar-thumb, 
    .h5p-element .h5p-element-outer::-webkit-scrollbar-thumb, 
    .h5p-keywords-wrapper>[role=menu]::-webkit-scrollbar-thumb {
      background: $crimson;
      &:hover {
        background: $crimson-dar;
      }
    }
    /* Sidebar menu links */
    .h5p-keywords-wrapper > [role="menu"] > [role="menuitem"]:hover {
      span {
        color: $crimson;
      }
    }
    .h5p-keywords-wrapper > [role="menu"] > [role="menuitem"]:focus {
      outline: 2px solid $grey-lig;
      background-color: rgba($crimson-dar, 0.2);
    }
    /* Score meter */
    .h5p-summary-score-meter > span {
      background-color: $crimson;
    }
    /* Social media buttons */
    .h5p-summary-facebook-message, .h5p-summary-google-message, .h5p-summary-twitter-message {
      &:hover {
        color: $crimson;
      }
    }
    /* Footer arrow buttons */
    .h5p-footer {
      .h5p-footer-button {
        &:hover, &:active {
          background: $grey-lig;
        }
        &:focus {
          background: $grey-lig2;
        }
      }
    }
    /* Dark solution mode */
    .h5p-footer-solution-mode {
      //background-color: $grey-med;
      .h5p-footer-button {
        &:hover, &:active {
          background: rgba($grey-lig,0.3);
        }
        &:focus {
          background: rgba($grey-lig2,0.3);
        }
      }
    }
    /* Navigation based images to nav to another slide */
    .h5p-press-to-go.h5p-visible { 
      &:hover {
        background-color: rgba($crimson, 0.2);
      }
      &:active {
        background-color: rgba($crimson, 0.4);
      }
      &:focus {
        outline: 2px solid $crimson;
        box-shadow: inset 0 0 0 2px $grey-lig2;
      } 
    }
  }
  /* ---------------------- Item: Dictation  */
  .h5p-audio-inner {
    .h5p-audio-minimal-button {
      background: rgb(236, 2, 100);
      background: -moz-linear-gradient(top, rgba(236, 2, 100,1) 0%, rgba(153, 0, 51,1) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236, 2, 100,1)), color-stop(100%,rgba(153, 0, 51,1)));
      background: -webkit-linear-gradient(top, rgba(236, 2, 100,1) 0%,rgba(153, 0, 51,1) 100%);
      background: -o-linear-gradient(top, rgba(236, 2, 100,1) 0%,rgba(153, 0, 51,1) 100%);
      background: -ms-linear-gradient(top, rgba(236, 2, 100,1) 0%,rgba(153, 0, 51,1) 100%);
      &:hover, &:active {
        background: $crimson-dar;
      }
      &:focus {
        background: $crimson-dar2;
      }
    }
  }
  /* ---------------------- Item: Dilogue Cards */
  /* Audio button */
  .h5p-dialogcards {
    .h5p-audio-minimal-button {
      background: rgb(236, 2, 100);
      background: -moz-linear-gradient(top, rgba(236, 2, 100,1) 0%, rgba(153, 0, 51,1) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236, 2, 100,1)), color-stop(100%,rgba(153, 0, 51,1)));
      background: -webkit-linear-gradient(top, rgba(236, 2, 100,1) 0%,rgba(153, 0, 51,1) 100%);
      background: -o-linear-gradient(top, rgba(236, 2, 100,1) 0%,rgba(153, 0, 51,1) 100%);
      background: -ms-linear-gradient(top, rgba(236, 2, 100,1) 0%,rgba(153, 0, 51,1) 100%);
      &:hover, &:active {
        background: $crimson-dar;
      }
      &:focus {
        background: $crimson-dar2;
      }
    }
    .h5p-joubelui-button.h5p-dialogcards-answer-button {
      color: $grey-med;
      &:hover, &:active {
        color: $white;
        background-color: $crimson-dar;
      }
      &:focus {
        color: $white;
      }
    }
  }
  /* ---------------------- Item: Documentation Tool */
  /* Button Read more */
  .h5p-documentation-tool-page {
    /* Page title */
    .page-title {
      color: $grey-med;
    }
    .page-help-text {
      color: $crimson;
      &:hover, &:focus {
        color: $crimson-dar;
      }
    }
  }
  /* ---------------------- Item: Drag and Drop */
  /* Button fullscreen */
  .h5p-dragquestion .h5p-my-fullscreen-button-enter, 
  .h5p-dragquestion .h5p-my-fullscreen-button-exit {
    color: $grey-lig2;
  }
  .h5p-dragquestion {
    .h5p-my-fullscreen-button-enter, .h5p-my-fullscreen-button-exit {
      &:hover, &:focus, &:active {
        color: $grey-lig3;
      }
    }
  }
  /* Drag objects */
  .h5p-dragquestion {
    .h5p-draggable {
      background: $white-grey;
      border: 0.1em solid $grey-lig3;
    }
    .h5p-draggable:not(.ui-state-disabled).h5p-draggable-hover {
      //border: 0.1em solid $grey-lig3;
      border: 0.1em solid $grey-med;
      background: $white-grey;
    }
    .h5p-draggable.h5p-dropped {
      color: $grey-med;
      border: 0.1em solid $grey-lig3;
      background: $white-grey;
    }
  }
  /* ---------------------- Item: Drag the Words */
  /* Drop area */
  .h5p-drag-text [aria-dropeffect] {
    background-color: $grey-lig;
    border: 1px solid $grey-lig3;
  }
  .h5p-drag-text [aria-grabbed] {
    background-color: $white-grey;
  }
  /* Drag objects */
  .h5p-drag-text {
    [aria-grabbed='true'],
    [aria-grabbed].h5p-drag-dropped,
    [aria-grabbed].h5p-drag-dropped:not(.ui-state-disabled):hover, 
    [aria-grabbed]:not(.ui-state-disabled):hover {
      border: 0.1em solid $grey-lig3;
      color: $grey-med;
      background: $white-grey;
    }
  }
  /* ---------------------- Item: Fill in the Blanks */
  // N/A only uses confirmation-dialog-exit button 

  /* ---------------------- Item: Flashcards */
  .using-mouse .h5p-flashcards .h5p-button.h5p-check-button:active {
    //background-color: $crimson-dar;
    background-color: $grey-med2;
  }
  .h5p-flashcards {
    &.h5p-standalone {
      /* Card background */
      //background-color: $crimson-dar;
      background-color: $grey-med2;
    }
    /* Card overlay */
    .h5p-card > .h5p-flashcard-overlay {
      //background-color: $crimson;
      background-color: $grey-med2;
    }
    .h5p-description {
      border-bottom: 1px solid $white;
    }
    /* Progress bar */
    .h5p-visual-progress {
      background-color: $black;
      border: 1px solid $white;
    }
    /* Button */
    .h5p-answer {
      .h5p-button {
        background: $crimson;
        &:hover, &:active {
          background: $crimson-dar;
        }
        &:focus {
          background: $crimson-dar2;
        }
      }
    }
    /* Card text */
    .h5p-imagetext {
      color: $black;
    }
    /* Nav buttons - arrows */
    .h5p-navigation {
      .h5p-button {
        color: $white;
        border: 1px solid $white;
        background-color: $crimson;
        &:hover, &:active {
          background-color: $crimson-dar;
        }
        &:focus {
          box-shadow: 0 0 0.5em 0 $grey-lig;
        }
      }
    } 
  }
  /* ---------------------- Item: Guess the Answer */
  .h5p-guess-answer {
    .show-solution-button {
      background-color: $crimson;
      &:hover, &:focus {
        background: $crimson-dar;
      }
      &:active {
        background: $crimson;
        box-shadow: none;
      }
    }
    .solution-text {
      color: $crimson;
    }
  }
   /* ---------------------- Item: Image Hotspots */
   .h5p-image-hotspot-close-popup-button {
      background-color: $grey-lig;
      box-shadow: none;
      &:hover, &:active {
        background-color: $grey-lig2;
        box-shadow: none;
      }
      &:focus {
        background-color: $grey-lig3;
      }
   }
   /* ---------------------- Item: Image Slider */
  /* Carousel dots */
  .h5p-image-slider-progress-element {
    background: none;
    height: 1em;
    width: 1em;
    background-color: $grey-lig2;
    border-radius: 50%;
    display: inline-block;
    &:hover, &:active {
      background-color: $grey-lig3;
    }
  }
  .h5p-image-slider-current-progress-element {
    background: none;
    height: 1em;
    width: 1em;
    background-color: $crimson;
    border-radius: 50%;
    display: inline-block;
  }
  /* ---------------------- Item: Interactive Book */
  .h5p-interactive-book-cover-bar {
    background-color: rgba($grey-lig,0.5);
  }
  /*Progress bar line */
  .h5p-interactive-book-status-progressbar-front {
    background-color: $crimson;
  }
  .h5p-interactive-book-status-progressbar-back {
    background-color: $grey-lig;
  }
  .h5p-interactive-book-cover-readbutton {
    button {
      background-color: $crimson;
      &:hover, &:active {
        background-color: $crimson-dar;
      }
      &:focus {
        background-color: $crimson-dar2;
      }
    }
  }
  /* Menu button */
  .h5p-interactive-book-status-menu.h5p-interactive-book-status-menu-active {
    background-color: $crimson;
    &:hover, &:active {
      background-color: $crimson-dar;
    }
    &:focus {
      background-color: $crimson-dar2;
    }
  }
  /* Menu Title */
  .h5p-interactive-book-navigation-maintitle {
    background-color: $crimson;
  }
  /* Menu chapter headings */
  .h5p-interactive-book-navigation-chapter-button.h5p-interactive-book-navigation-current {
    background-color: rgba($grey-lig, 0.5);
  }
  .h5p-interactive-book-navigation-chapter-button {
    background-color: rgba($grey-lig, 0.5);
    &:hover {
      background-color: rgba($grey-lig, 0.5);
    }
    .h5p-interactive-book-navigation-chapter-title-text {
      color: $crimson;
    }
  }
  /* Menu chapter links */
  .h5p-interactive-book-navigation-sectionlist :hover {
      color: $crimson;
  }
  .h5p-interactive-book-navigation-section-title {
    &:focus {
      color: $crimson-dar2;
    }
  }
  /* Progress number */
  .h5p-interactive-book-status-progress-number {
    color: $grey-med;
  }
  /* Button base for all buttons */
  .h5p-interactive-book-status-button {
    &:hover, &:active {
      background-color: $grey-lig2;
    }
    &:focus {
      background-color: $grey-lig3;
    }
  }
  /* Button: Menu */
  .h5p-interactive-book-status-menu {
    .icon-menu {
      color: $crimson;
    }
  }
  /* Button: Back and Next arrows */
  .h5p-interactive-book-status-arrow, .h5p-interactive-book-status-fullscreen {
    background-color: $grey-lig;
  }
  .h5p-interactive-book-status-arrow {
    .navigation-button {
      color: $grey-med;
    }
  }
  .h5p-interactive-book-status-button[disabled] {
    background-color: rgba($grey-lig,0.5);
  }
  .h5p-interactive-book-status-button[disabled]:hover {
    background-color: rgba($grey-lig,0.5);
  }
  /* Fullscreen button */
  .h5p-interactive-book-status-fullscreen.h5p-interactive-book-enter-fullscreen::before {
    color: $grey-med;
  }
  .h5p-interactive-book-status-fullscreen.h5p-interactive-book-exit-fullscreen::before {
    color: $grey-med;
  }
  /* Summary Page */
  /* Stats */
  .h5p-interactive-book-summary-page {
    .h5p-interactive-box-summary-progress {
      color: $crimson;
      .h5p-interactive-book-summary-progressbox-bigtext {
        color: $crimson;
      }
    }
    .h5p-interactive-book-summary-progress-circle {
      fill: $crimson;
      box-shadow: 0 0 0 4px rgba($black, 10%);
    }
    /* Listed items */
    .h5p-interactive-book-summary-section-icon {
      color: $crimson;
    }
  }
  /* Heading area */
  .h5p-interactive-book-summary-page .h5p-interactive-book-summary-overview-section h4:hover, 
  .h5p-interactive-book-summary-page .h5p-interactive-book-summary-overview-list-empty h4:hover {
    color: $crimson;
  }
  .h5p-interactive-book-summary-page .h5p-interactive-book-summary-overview-section h4 span[class^='icon-'], 
  .h5p-interactive-book-summary-page .h5p-interactive-book-summary-overview-list-empty h4 span[class^='icon-'], 
  .h5p-interactive-book-summary-page .h5p-interactive-book-summary-overview-section h4 span[class*=' icon-'], 
  .h5p-interactive-book-summary-page .h5p-interactive-book-summary-overview-list-empty h4 span[class*=' icon-'] {
    color: $crimson;
  }
  /* ---------------------- Item: Interactive Video */
 /* Summary timings per question */
  .h5p-interactive-video-endscreen-overview-table-row-time {
    color: $grey-lig;
  }
  /* ---------------------- Item: Kewar Code */
  /* N/A Uses the global link style */
  /* ---------------------- Item: Mark the Words */
  .h5p-mark-the-words [aria-selected="true"] {
    background: $grey-lig;
  }
  .h5p-mark-the-words .h5p-word-selectable-words:not(.h5p-disable-hover) [role="option"]:hover {
    box-shadow:inset 0px 0px 0px 2px $grey-lig2;
  }
  /* ---------------------- Item: Memory Game */
  .h5p-memory-reset {
    background: $crimson;
    box-shadow: none;
    transition: none;
    &:hover, &:active {
      margin-top: 0;
      background: $crimson-dar;
      box-shadow: none;
      transition: none;
    }
    &:focus {
      margin-top: 0;
      background: $crimson-dar2;
      outline: 2px solid $grey-lig;
    }
  }
  /* ---------------------- Item: Multiple Choice */
  /* Answer option */
  .h5p-multichoice {
    .h5p-alternative-container {
      background: $grey-lig;
      box-shadow: none;
      &:hover, &:active {
        background: $grey-lig2;
      }
      &:focus {
        background: $grey-lig3;
      }
    }
  }
  /* Selected option */
  .h5p-answer[aria-checked="true"] {
    .h5p-alternative-container {
      color: $grey-med;
      background: $grey-lig2;
      box-shadow: none;
    }
  }
  /* Answer option hover */
  .h5p-answer:not([aria-disabled="true"]):hover .h5p-alternative-container {
    background-color: $grey-lig2;
  }
  /* Selected option on hover */
  .h5p-answer[aria-checked="true"]:not(.h5p-wrong):not(.h5p-correct):not([aria-disabled="true"]):hover {
    .h5p-alternative-container {
      background: $grey-lig2;
      box-shadow: none;
    }
  }
  /* Correct answer */    
  .h5p-answer.h5p-correct, .h5p-answer.h5p-correct:hover {
    .h5p-alternative-container {
      background-color: $correct;
      color: $grey-med;
      box-shadow: none;
      border-color: $correct;
    }
  }
  /* Incorrect answer */
  .h5p-answer.h5p-wrong, .h5p-answer.h5p-wrong:hover {
    .h5p-alternative-container {
      background-color: $incorrect;
      color: $grey-med;
      box-shadow: none;
      border-color: $incorrect;
    }
  }
  /* ---------------------- Item: Quiz Question Set */
  //NA
  /* ---------------------- Item: Single Choice Set */
  ul.h5p-sc-alternatives {
    .h5p-sc-selected {
      background-color: $crimson;
    }
     /* Answer option */
    li.h5p-sc-alternative {
      background: $grey-lig;
      box-shadow: none;
      &:hover, &:active {
        background: $grey-lig2;
      }
      &:focus {
        background: $grey-lig3;
      }
    }
    li.h5p-sc-alternative {
      .h5p-sc-progressbar {
        background: $grey-lig;
      }
    }
  }
  /* Solution back arrow */
  .h5p-single-choice-set {
    .h5p-sc-solution-view {
      .h5p-sc-close-solution-view {
        color: $white;
        background-color: $crimson;
        &:hover, &:active {
          background-color: $crimson-dar;
        }
        &:focus {
          background-color: $crimson-dar2;
        }
      }
    }
  }
  /* ---------------------- Item: Summary */
  /* Selected */
  .h5p-summary .summary-container li, .h5p-summary .summary-options li {
    background-color: $grey-lig;
    box-shadow: none;
    margin-bottom: 0.5em;
  }
  .h5p-summary .h5p-panel:not(.panel-disabled) .summary-claim-unclicked:hover {
    background: $grey-lig2;
  }
  .h5p-summary .h5p-panel:not(.panel-disabled) .summary-claim-unclicked:focus {
    background: $grey-lig3;
  }
  /* ---------------------- Item: Text */
  //N/A
  /* ---------------------- Item: True,False */
  .h5p-true-false-answer {
    border: 2px solid $grey-lig3;
    box-shadow: none;
    color: $grey-med;
    &:hover, &:active {
      background-color: $grey-lig;
      border-color: $grey-lig3;
      transform: none;
    }
    &:focus {
      background-color: $crimson-dar2;
      color: $white;
      box-shadow: none;
      border: 2px solid $crimson-dar2;
    }
    /* Selected answer */
    &[aria-checked=true] {
      background: $grey-lig2;
      color: $grey-med;
      border-color: $grey-lig2; 
    }
  }
  .h5p-true-false-answer.correct {
    background: $white;
    border-color: $correct-med;
  }
  .h5p-true-false-answer.wrong {
    background: $white;
    border-color: $incorrect-med;
  }
  /* ---------------------- Item: Virtual Tour 360 */
  .h5p-three-sixty-wrapper {
    /* General arrow interaction buttons */
    .nav-button {
      border: 1px solid $white;
      &:hover, &:active {
        background: $crimson;
      }
      &:focus {
        background: $crimson-dar;
      }
    }
    /* Primary interaction buttons */
    .h5p-interaction-button {
      .nav-button {
        background: $crimson;
        border: 1px solid $white;
        &:hover, &:focus, &:active {
          background: $crimson-dar;
        }
      }
    }
  }
  /* Popup */
  .h5p-text-dialog {
    .close-button-wrapper {
      background-color: $grey-lig2;
      border: none;
      transition: none;
      &:hover, &:active {
        background-color: $grey-lig3;
        box-shadow: 0 0.1em 0 rgba($grey-med, 0.3);
      }
      &:focus {
        background-color: $grey-lig3;
      }
    }
  }
  /* Fullscreen button */
  .h5p-disable-fullscreen, .h5p-enable-fullscreen {
    background-color: $black;
    border: 1px solid $white;
    &:hover, &:active {
      background-color: $crimson;
    }
    &:focus {
      background-color: $crimson-dar2;
    }
  }
  /* Hub - Reset camera button */
  .hud-bottom-left {
    .hud-btn {
      background: $black;
      border: 1px solid $white;
      &:hover, &:active {
        background-color: $crimson;
      }
      &:focus {
        background-color: $crimson-dar2;
      }
    }
  }
  /* ---------------------- Item: Emoji Cloud / Word Cloud / Multipoll */
  .multiplayer-preview-switcher {
    .right-side {
      .preview-link {
        background-color: $crimson-dar;
        &:hover {
          background-color: $crimson;
        }
      }
    }
  }
}